<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/react@18.2.0/umd/react.development.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/react-dom@18.2.0/umd/react-dom.development.js"></script>
	    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>
    
    <body>
        <div id="root"></div>
        <script type="text/babel" src="./static/at.js"></script>
        <a>test texasdasdt</a>
<!-- this is the PIXO API for photo editing -->
        <!-- <img id="myimage" src="myimage.png" />
<script src="https://pixoeditor.com/editor/scripts/bridge.m.js"></script>
<script>
   var image = document.getElementById('myimage');
   image.onload = function(){
      var editor = new Pixo.Bridge({apikey: 'abc123xyz000'});
      editor.edit(image);
   }
</script> -->
    </body>
</html>